<?xml version="1.0"?>
<launch>

    <arg name="tx" default="0"/>
    <arg name="ty" default="0"/>
    <arg name="tz" default="2"/>
    <arg name="speed" default="2"/>
    <arg name="choose_mode" default="2"/>
    <arg name="choose_sdf" default='/home/bartosz/catkin_ws/src/velocityraptor/models/no_gravity_iris_easy/no_gravity_iris_easy.sdf'/>

    <arg name="target_sdf" default="$(find velocityraptor)/models/no_gravity_iris_easy/no_gravity_iris_easy.sdf"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="true" />
        <arg name="paused" value="false" />
    </include>
<!--    <node name="landmark_bridge" pkg="calibration_gazebo" type="move_landmark.py"/>-->


</launch>
